##Djebbi Hani 3IDL01-G01

In [1]:
#imports
import pandas as pd
import numpy as np
from mlxtend.frequent_patterns import apriori, association_rules
from collections import Counter

In [3]:
#1-load data from the market_basket.txt file
data = pd.read_csv("market_basket.txt",delimiter="\t")
data = data.reset_index()

In [ ]:
#2-show first 10 lines
data.iloc[0:10]

   index  ID                   Product
0      0   1                   Peaches
1      1   2             Vegetable_Oil
2      2   2               Frozen_Corn
3      3   3                     Plums
4      4   4               Pancake_Mix
5      5   5                    Cheese
6      6   6               Cauliflower
7      7   7                 2pct_Milk
8      8   8  98pct_Fat_Free_Hamburger
9      9   8              Potato_Chips

In [4]:
#3- shape of the dataframe
data.shape

(12935, 3)

In [5]:
from IPython.utils.path import target_outdated
#4- print the logical matrix
#first step: i need a list of all the product (number of cols)
#to get that i will just put the values of the product col into a set and 
#the duplicates will be eleminated
products = set(data['Product'])
len(products)#303
#ok i have 303 unique products
#next i need to generate all the taransactions
#i will store each transaction in a dic where the tran id will be the key and
#the list products bought will be the value.
#O(n) time O(n) space
transactions={}
for index, row in data.iterrows():
    if row['ID'] not in transactions:
      transactions[row['ID']] = [row['Product']]
    else:
      transactions[row['ID']].append(row['Product'])
transactions
#now i will create a function that takes as a parameter a transaction ID and the
#transactions list and it will return a binary list 

def rep_tran_binary(id,transactions,products):
  res = [0] * len(products)
  prs = list(products)
  for i in range(len(products)):
    if prs[i] in  transactions[id]:
      res[i]=1
  return res

#now using this function i can build a logic matrix just by calling the func
#on each transaction we have
matrix_transactions = {}
for key, value in transactions.items():
  r= rep_tran_binary(key,transactions,products)
  matrix_transactions[key]= r

pd.DataFrame(list(matrix_transactions.values()),index=matrix_transactions.keys(),columns=products)

,Graham_Crackers,Paper_Plates,Jelly_Filled_Donuts,Creamed_Corn,Grape_Juice,Sweat_Potatoes,AA_Cell_Batteries,Beets,Lemons,Cole_Slaw,...,Hamburger_Buns,Dried_Fruit_Mix,Orange_Juice,Regular_Coffee,Toothpaste,Sandwich_Bags,Raisin_Pudding,Dried_Apples,Pancake_Mix,Frozen_Corn
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1357,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1358,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1359,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,1,0,0,0,1,0
1360,0,0,1,1,0,0,1,0,0,1,...,0,0,0,0,1,1,0,0,1,0
1361,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0

In [6]:
cr_data = pd.crosstab([data.ID],[data.Product])
cr_data

Product,100_Watt_Lightbulb,2pct_Milk,40_Watt_Lightbulb,60_Watt_Lightbulb,75_Watt_Lightbulb,98pct_Fat_Free_Hamburger,AA_Cell_Batteries,Apple_Cinnamon_Waffles,Apple_Drink,Apple_Fruit_Roll,...,White_Bread,White_Wine,White_Zinfandel_Wine,Whole_Corn,Whole_Green_Beans,Whole_Milk,Window_Cleaner,Wood_Polish,flav_Fruit_Bars,flav_Ice
ID,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1357,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1358,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1359,0,1,1,1,0,1,0,1,0,0,...,1,0,0,0,1,0,0,0,1,0
1360,1,0,0,1,0,1,1,1,1,0,...,1,0,1,0,0,1,0,0,1,1
1361,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## They are definitely the same ✅

In [7]:
#6
cr_data.iloc[0:30, 0:3]

Product  100_Watt_Lightbulb  2pct_Milk  40_Watt_Lightbulb
ID
1                         0          0                  0
2                         0          0                  0
3                         0          0                  0
4                         0          0                  0
5                         0          0                  0
6                         0          0                  0
7                         0          1                  0
8                         0          0                  0
9                         0          0                  0
10                        0          0                  0
11                        0          0                  0
12                        0          0                  0
13                        0          0                  0
14                        0          0                  0
15                        0          0                  0
16                        0          0                  0
17                        0          0                  0
18                        0          0                  0
19                        0          0                  0
20                        0          0                  0
21                        0          0                  0
22                        0          0                  0
23                        0          0                  0
24                        0          0                  0
25                        0          1                  0
26                        1          0                  0
27                        0          0                  0
28                        0          1                  0
29                        0          1                  0
30                        0          0                  0

In [8]:
#init C1
c = Counter()
for p in products:
  c[p] = cr_data[p].sum()
print("C1:")
for i in c:
    print(str([i])+": "+str(c[i]))
#define a min supp = 0.65
sp = 0.025
s = int(sp*len(products))
l = Counter()
for i in c:
#check if it's a frequent itemset
    if(c[i] >= s):
        l[frozenset([i])]+=c[i]
print("L1:")
for i in l:
    print(str(list(i))+": "+str(l[i]))
print()

C1:
['Graham_Crackers']: 39
['Paper_Plates']: 43
['Jelly_Filled_Donuts']: 43
['Creamed_Corn']: 40
['Grape_Juice']: 9
['Sweat_Potatoes']: 11
['AA_Cell_Batteries']: 43
['Beets']: 39
['Lemons']: 41
['Cole_Slaw']: 54
['flav_Ice']: 51
['Sponge']: 37
['Chunky_Peanut_Butter']: 50
['Strawberry_Soda']: 9
['Matches']: 15
['Napkins']: 42
['Columbian_Coffee']: 41
['Mixed_Vegetables']: 48
['Sesame_Oil']: 28
['Tuna_Spread']: 18
['Donuts']: 44
['Manicotti']: 52
['Trash_Bags']: 42
['Mint_Chocolate_Bar']: 30
['Rye_Bread']: 37
['Fruit_Drink']: 42
['Hot_Chocolate']: 46
['French_Fries']: 80
['Chardonnay_Wine']: 45
['Sour_Cream']: 69
['Cheese_Crackers']: 54
['Shrimp_Cocktail_Sauce']: 55
['Chicken_Breast_-_Frozen']: 44
['Fresh_Lima_Beans']: 10
['Grape_Jam']: 41
['Apple_Sauce']: 44
['Wood_Polish']: 32
['Turkey_Noodle_Soup']: 34
['Bubble_Gum']: 48
['Eggs']: 167
['Waffles']: 70
['Green_Pepper']: 45
['Whole_Green_Beans']: 30
['Red_Pepper']: 43
['Orange_flav_Fruit_Bars']: 63
['Taco_Salad']: 27
['Summer_Sausage']: 52
['Oatmeal']: 22
['Oven_Cleaner']: 42
['Vegetable_Soup']: 42
['Canned_Tuna']: 74
['Sliced_Chicken']: 45
['Carrots']: 9
['Frozen_Sausage_Pizza']: 35
['Peanut_Butter_Cookies']: 17
['Import_Beer']: 14
['100_Watt_Lightbulb']: 41
['Shampoo']: 54
['Scissors']: 39
['Hot_Dog_Buns']: 80
['Toilet_Bowl_Cleaner']: 40
['C_Cell_Batteries']: 72
['Beef_Hot_Dogs']: 22
['Peaches']: 46
['Buttermilk']: 34
['Deodorant']: 48
['Ranch_Dip']: 32
['Frozen_Chicken_Wings']: 36
['Buttered_Popcorn']: 38
['Cola']: 106
['French_Roast_Coffee']: 46
['Provolone_Cheese']: 37
['Strawberry_Jam']: 34
['Strawberry_Drink']: 34
['Grape_Fruit_Roll']: 40
['Peach_Shampoo']: 15
['Deli_Ham']: 14
['Peas']: 23
['Skin_Moisturizer']: 26
['Small_Eggs']: 35
['Standard_coffee']: 12
['Strawberry_Preserves']: 39
['Liquid_Laundry_Detergent']: 46
['White_Bread']: 162
['Soda_Crackers']: 14
['Pancakes']: 10
['Hot_Chicken_Wings']: 29
['Potato_Chips']: 133
['Mixed_Nuts']: 34
['Apple_Fruit_Roll']: 43
['Brown_Sugar_Oatmeal']: 10
['Blueberry_Bagels']: 14
['Corned_Beef']: 32
['Polish_Sausage']: 56
['Canned_Beets']: 22
['Turkey_TV_Dinner']: 36
['Sugar_Cookies']: 75
['Apple_Juice']: 33
['Raisins']: 83
['Hot_Dogs']: 126
['Apple_Jelly']: 45
['Mouthwash']: 34
['Sesame_Crackers']: 29
['Frozen_Broccoli']: 33
['Mushrooms']: 74
['Grape_Jelly']: 24
['Smoked_Turkey_Sliced']: 41
['Apple_Soda']: 9
['Frozen_Cheese_Pizza']: 40
['Heavy_Duty_Cleaner']: 12
['Imported_Beer']: 34
['White_Wine']: 34
['Chocolate_Chip_Cookies']: 41
['Colby_Cheese']: 44
['Daily_Newspaper']: 8
['Cream_of_Wheat']: 14
['D_Cell_Batteries']: 41
['2pct_Milk']: 149
['Instant_Rice']: 35
['Strawberry_Yogurt']: 50
['Limes']: 39
['Plain_Rye_Bread']: 10
['Chicken_Soup']: 49
['Cream_Soda']: 43
['Avocado_Dip']: 38
['Grapefruit_Juice']: 54
['Cat_Food']: 22
['Frozen_Cauliflower']: 23
['Muffins']: 40
['Frozen_Shrimp']: 76
['Cookies']: 33
['Plain_Muffins']: 16
['Canned_Peaches']: 35
['Sweet_Relish']: 116
['Dried_Apricots']: 31
['Spaghetti']: 49
['Creamy_Peanut_Butter']: 47
['Raspberry_Fruit_Roll']: 36
['Oats_and_Nuts_Cereal']: 7
['Popcorn']: 20
['Wash_Towels']: 34
['Hair_Conditioner']: 80
['75_Watt_Lightbulb']: 43
['Mild_Cheddar_Cheese']: 43
['Strawberry_Fruit_Roll']: 32
['Frozen_Carrots']: 32
['Apples']: 73
['Cauliflower']: 42
['Fingernail_Clippers']: 29
['Mango_Drink']: 11
['Canned_Mixed_Fruit']: 43
['Paper_Cups']: 45
['Sugar']: 48
['Domestic_Beer']: 92
['Shrimp']: 10
['Souring_Pads']: 40
['Bologna']: 88
['Ice_Cream_Sandwich']: 34
['Grape_flav_Fruit_Bars']: 39
['98pct_Fat_Free_Hamburger']: 127
['Chocolate_Bar']: 50
['Bananas']: 81
['Fruit_Roll']: 14
['Sliced_Turkey']: 34
['Ground_Beef']: 30
['Corn_Chips']: 40
['Tangerines']: 34
['Toilet_Paper']: 101
['Lettuce']: 49
['Oven_Mitt']: 31
['Corn_Flake_Cereal']: 12
['Salsa_Dip']: 68
['Steak_TV_Dinner']: 13
['Squash']: 50
['English_Muffins']: 40
['Chicken_Noodle_Soup']: 54
['Diet_Cola']: 42
['Plain_White_Bread']: 11
['Mandarin_Oranges']: 42
['Chardonnay']: 44
['Sweet_Potatoes']: 40
['Vegetable_Oil']: 55
['Window_Cleaner']: 12
['Red_Wine']: 32
['Tissue']: 11
['Plastic_Knives']: 39
['Licorice']: 55
['Plums']: 76
['Vanilla_Wafers']: 41
['Cottage_Cheese']: 65
['Potatoes']: 118
['Cranberry_Muffins']: 26
['Merlot_Wine']: 34
['Chablis_Wine']: 12
['Diet_Soda']: 38
['Canned_Tomatoes']: 21
['Whole_Milk']: 48
['Mushroom_Pizza_-_Frozen']: 34
['Dishwasher_Detergent']: 40
['Chicken_Legs']: 8
['Blueberry_Muffins']: 37
['Multi-Grain_Wheat_Bread']: 11
['Glass_Cleaner']: 35
['Cabbage']: 24
['Corn_Oil']: 45
['Broccoli']: 48
['Plain_Bagels']: 60
['Apple_Drink']: 36
['Wheat_Bread']: 105
['Blueberry_Yogurt']: 38
['Dandruff_Shampoo']: 39
['Beef_Jerky']: 45
['Beef_Soup']: 42
['Fudge_Cookies']: 41
['Blueberry_Waffles']: 47
['Flathead_Screwdriver']: 15
['Ramen_Noodles']: 85
['Garlic_Bread']: 55
['Ravioli']: 53
['White_Zinfandel_Wine']: 42
['Ice_Cream']: 33
['Garlic']: 78
['Frosted_Donuts']: 35
['Plastic_Spoons']: 48
['Black-eyed_Peas']: 47
['Deli_Salad']: 41
['Sunglasses']: 28
['Roasted_Chicken']: 35
['Cream_Cheese']: 97
['Plastic_Forks']: 52
['Pretzels']: 57
['Liquid_Soap']: 13
['Cheese_Spread']: 52
['Pepper']: 41
['Frozen_Chicken_Thighs']: 41
['Celery']: 7
['Plain_Oatmeal']: 14
['Tomato_Sauce']: 39
['BBQ_Potato_Chips']: 57
['Pepperoni_Pizza_-_Frozen']: 94
['Flour']: 40
['Oranges']: 76
['Dog_Food']: 32
['Paper_Towels']: 44
['Toothbrush']: 38
['Aspirin']: 91
['Can_Opener']: 10
['Cheese']: 40
['Tissues']: 46
['Plain_Blueberry_Muffins']: 13
['Silver_Cleaner']: 10
['flav_Fruit_Bars']: 53
['Plain_English_Muffins']: 8
['Salt']: 70
['Counter_Cleaner']: 28
['Grits']: 23
['Noodle_Soup']: 47
['Regular_Hamburger']: 12
['Popcorn_Salt']: 87
['Cantaloupe']: 63
['Cranberry_Juice']: 42
['Baked_Beans']: 44
['Sharp_Cheddar_Cheese']: 47
['Decaf_Coffee']: 47
['Lollipops']: 59
['Chicken_TV_Dinner']: 37
['Tomatoes']: 90
['Apple_Jam']: 44
['Soft_Tissue']: 10
['Cheese_Dip']: 42
['Frozen_Peas']: 42
['Whole_Corn']: 42
['Nasal_Spray']: 8
['Vanilla_Ice_Cream']: 11
['60_Watt_Lightbulb']: 51
['Brown_Sugar']: 43
['Deli_Turkey']: 32
['40_Watt_Lightbulb']: 13
['Green_Beans']: 21
['Hair_Brush']: 30
['Cinnamon_Oatmeal']: 10
['Screw_Driver']: 32
['Tomato_Soup']: 42
['Canned_Peas']: 26
['Pastry_Snacks']: 17
['Onions']: 109
['Rice_Soup']: 11
['Brown_Sugar_Grits']: 8
['Strawberry_Waffles']: 11
['Microwave_Popcorn']: 49
['Apple_Cinnamon_Waffles']: 35
['Cheese_flav_Chips']: 8
['Honey_Roasted_Peanuts']: 45
['Hamburger_Buns']: 97
['Dried_Fruit_Mix']: 25
['Orange_Juice']: 77
['Regular_Coffee']: 39
['Toothpaste']: 108
['Sandwich_Bags']: 74
['Raisin_Pudding']: 9
['Dried_Apples']: 32
['Pancake_Mix']: 78
['Frozen_Corn']: 42
L1:
['Graham_Crackers']: 39
['Paper_Plates']: 43
['Jelly_Filled_Donuts']: 43
['Creamed_Corn']: 40
['Grape_Juice']: 9
['Sweat_Potatoes']: 11
['AA_Cell_Batteries']: 43
['Beets']: 39
['Lemons']: 41
['Cole_Slaw']: 54
['flav_Ice']: 51
['Sponge']: 37
['Chunky_Peanut_Butter']: 50
['Strawberry_Soda']: 9
['Matches']: 15
['Napkins']: 42
['Columbian_Coffee']: 41
['Mixed_Vegetables']: 48
['Sesame_Oil']: 28
['Tuna_Spread']: 18
['Donuts']: 44
['Manicotti']: 52
['Trash_Bags']: 42
['Mint_Chocolate_Bar']: 30
['Rye_Bread']: 37
['Fruit_Drink']: 42
['Hot_Chocolate']: 46
['French_Fries']: 80
['Chardonnay_Wine']: 45
['Sour_Cream']: 69
['Cheese_Crackers']: 54
['Shrimp_Cocktail_Sauce']: 55
['Chicken_Breast_-_Frozen']: 44
['Fresh_Lima_Beans']: 10
['Grape_Jam']: 41
['Apple_Sauce']: 44
['Wood_Polish']: 32
['Turkey_Noodle_Soup']: 34
['Bubble_Gum']: 48
['Eggs']: 167
['Waffles']: 70
['Green_Pepper']: 45
['Whole_Green_Beans']: 30
['Red_Pepper']: 43
['Orange_flav_Fruit_Bars']: 63
['Taco_Salad']: 27
['Summer_Sausage']: 52
['Oatmeal']: 22
['Oven_Cleaner']: 42
['Vegetable_Soup']: 42
['Canned_Tuna']: 74
['Sliced_Chicken']: 45
['Carrots']: 9
['Frozen_Sausage_Pizza']: 35
['Peanut_Butter_Cookies']: 17
['Import_Beer']: 14
['100_Watt_Lightbulb']: 41
['Shampoo']: 54
['Scissors']: 39
['Hot_Dog_Buns']: 80
['Toilet_Bowl_Cleaner']: 40
['C_Cell_Batteries']: 72
['Beef_Hot_Dogs']: 22
['Peaches']: 46
['Buttermilk']: 34
['Deodorant']: 48
['Ranch_Dip']: 32
['Frozen_Chicken_Wings']: 36
['Buttered_Popcorn']: 38
['Cola']: 106
['French_Roast_Coffee']: 46
['Provolone_Cheese']: 37
['Strawberry_Jam']: 34
['Strawberry_Drink']: 34
['Grape_Fruit_Roll']: 40
['Peach_Shampoo']: 15
['Deli_Ham']: 14
['Peas']: 23
['Skin_Moisturizer']: 26
['Small_Eggs']: 35
['Standard_coffee']: 12
['Strawberry_Preserves']: 39
['Liquid_Laundry_Detergent']: 46
['White_Bread']: 162
['Soda_Crackers']: 14
['Pancakes']: 10
['Hot_Chicken_Wings']: 29
['Potato_Chips']: 133
['Mixed_Nuts']: 34
['Apple_Fruit_Roll']: 43
['Brown_Sugar_Oatmeal']: 10
['Blueberry_Bagels']: 14
['Corned_Beef']: 32
['Polish_Sausage']: 56
['Canned_Beets']: 22
['Turkey_TV_Dinner']: 36
['Sugar_Cookies']: 75
['Apple_Juice']: 33
['Raisins']: 83
['Hot_Dogs']: 126
['Apple_Jelly']: 45
['Mouthwash']: 34
['Sesame_Crackers']: 29
['Frozen_Broccoli']: 33
['Mushrooms']: 74
['Grape_Jelly']: 24
['Smoked_Turkey_Sliced']: 41
['Apple_Soda']: 9
['Frozen_Cheese_Pizza']: 40
['Heavy_Duty_Cleaner']: 12
['Imported_Beer']: 34
['White_Wine']: 34
['Chocolate_Chip_Cookies']: 41
['Colby_Cheese']: 44
['Daily_Newspaper']: 8
['Cream_of_Wheat']: 14
['D_Cell_Batteries']: 41
['2pct_Milk']: 149
['Instant_Rice']: 35
['Strawberry_Yogurt']: 50
['Limes']: 39
['Plain_Rye_Bread']: 10
['Chicken_Soup']: 49
['Cream_Soda']: 43
['Avocado_Dip']: 38
['Grapefruit_Juice']: 54
['Cat_Food']: 22
['Frozen_Cauliflower']: 23
['Muffins']: 40
['Frozen_Shrimp']: 76
['Cookies']: 33
['Plain_Muffins']: 16
['Canned_Peaches']: 35
['Sweet_Relish']: 116
['Dried_Apricots']: 31
['Spaghetti']: 49
['Creamy_Peanut_Butter']: 47
['Raspberry_Fruit_Roll']: 36
['Oats_and_Nuts_Cereal']: 7
['Popcorn']: 20
['Wash_Towels']: 34
['Hair_Conditioner']: 80
['75_Watt_Lightbulb']: 43
['Mild_Cheddar_Cheese']: 43
['Strawberry_Fruit_Roll']: 32
['Frozen_Carrots']: 32
['Apples']: 73
['Cauliflower']: 42
['Fingernail_Clippers']: 29
['Mango_Drink']: 11
['Canned_Mixed_Fruit']: 43
['Paper_Cups']: 45
['Sugar']: 48
['Domestic_Beer']: 92
['Shrimp']: 10
['Souring_Pads']: 40
['Bologna']: 88
['Ice_Cream_Sandwich']: 34
['Grape_flav_Fruit_Bars']: 39
['98pct_Fat_Free_Hamburger']: 127
['Chocolate_Bar']: 50
['Bananas']: 81
['Fruit_Roll']: 14
['Sliced_Turkey']: 34
['Ground_Beef']: 30
['Corn_Chips']: 40
['Tangerines']: 34
['Toilet_Paper']: 101
['Lettuce']: 49
['Oven_Mitt']: 31
['Corn_Flake_Cereal']: 12
['Salsa_Dip']: 68
['Steak_TV_Dinner']: 13
['Squash']: 50
['English_Muffins']: 40
['Chicken_Noodle_Soup']: 54
['Diet_Cola']: 42
['Plain_White_Bread']: 11
['Mandarin_Oranges']: 42
['Chardonnay']: 44
['Sweet_Potatoes']: 40
['Vegetable_Oil']: 55
['Window_Cleaner']: 12
['Red_Wine']: 32
['Tissue']: 11
['Plastic_Knives']: 39
['Licorice']: 55
['Plums']: 76
['Vanilla_Wafers']: 41
['Cottage_Cheese']: 65
['Potatoes']: 118
['Cranberry_Muffins']: 26
['Merlot_Wine']: 34
['Chablis_Wine']: 12
['Diet_Soda']: 38
['Canned_Tomatoes']: 21
['Whole_Milk']: 48
['Mushroom_Pizza_-_Frozen']: 34
['Dishwasher_Detergent']: 40
['Chicken_Legs']: 8
['Blueberry_Muffins']: 37
['Multi-Grain_Wheat_Bread']: 11
['Glass_Cleaner']: 35
['Cabbage']: 24
['Corn_Oil']: 45
['Broccoli']: 48
['Plain_Bagels']: 60
['Apple_Drink']: 36
['Wheat_Bread']: 105
['Blueberry_Yogurt']: 38
['Dandruff_Shampoo']: 39
['Beef_Jerky']: 45
['Beef_Soup']: 42
['Fudge_Cookies']: 41
['Blueberry_Waffles']: 47
['Flathead_Screwdriver']: 15
['Ramen_Noodles']: 85
['Garlic_Bread']: 55
['Ravioli']: 53
['White_Zinfandel_Wine']: 42
['Ice_Cream']: 33
['Garlic']: 78
['Frosted_Donuts']: 35
['Plastic_Spoons']: 48
['Black-eyed_Peas']: 47
['Deli_Salad']: 41
['Sunglasses']: 28
['Roasted_Chicken']: 35
['Cream_Cheese']: 97
['Plastic_Forks']: 52
['Pretzels']: 57
['Liquid_Soap']: 13
['Cheese_Spread']: 52
['Pepper']: 41
['Frozen_Chicken_Thighs']: 41
['Celery']: 7
['Plain_Oatmeal']: 14
['Tomato_Sauce']: 39
['BBQ_Potato_Chips']: 57
['Pepperoni_Pizza_-_Frozen']: 94
['Flour']: 40
['Oranges']: 76
['Dog_Food']: 32
['Paper_Towels']: 44
['Toothbrush']: 38
['Aspirin']: 91
['Can_Opener']: 10
['Cheese']: 40
['Tissues']: 46
['Plain_Blueberry_Muffins']: 13
['Silver_Cleaner']: 10
['flav_Fruit_Bars']: 53
['Plain_English_Muffins']: 8
['Salt']: 70
['Counter_Cleaner']: 28
['Grits']: 23
['Noodle_Soup']: 47
['Regular_Hamburger']: 12
['Popcorn_Salt']: 87
['Cantaloupe']: 63
['Cranberry_Juice']: 42
['Baked_Beans']: 44
['Sharp_Cheddar_Cheese']: 47
['Decaf_Coffee']: 47
['Lollipops']: 59
['Chicken_TV_Dinner']: 37
['Tomatoes']: 90
['Apple_Jam']: 44
['Soft_Tissue']: 10
['Cheese_Dip']: 42
['Frozen_Peas']: 42
['Whole_Corn']: 42
['Nasal_Spray']: 8
['Vanilla_Ice_Cream']: 11
['60_Watt_Lightbulb']: 51
['Brown_Sugar']: 43
['Deli_Turkey']: 32
['40_Watt_Lightbulb']: 13
['Green_Beans']: 21
['Hair_Brush']: 30
['Cinnamon_Oatmeal']: 10
['Screw_Driver']: 32
['Tomato_Soup']: 42
['Canned_Peas']: 26
['Pastry_Snacks']: 17
['Onions']: 109
['Rice_Soup']: 11
['Brown_Sugar_Grits']: 8
['Strawberry_Waffles']: 11
['Microwave_Popcorn']: 49
['Apple_Cinnamon_Waffles']: 35
['Cheese_flav_Chips']: 8
['Honey_Roasted_Peanuts']: 45
['Hamburger_Buns']: 97
['Dried_Fruit_Mix']: 25
['Orange_Juice']: 77
['Regular_Coffee']: 39
['Toothpaste']: 108
['Sandwich_Bags']: 74
['Raisin_Pudding']: 9
['Dried_Apples']: 32
['Pancake_Mix']: 78
['Frozen_Corn']: 42

In [ ]:
pl = l
pos = 1
#limit itemset size to 4 as requested
for count in range (2,4):
    nc = set()
    temp = list(l)
    for i in range(0,len(temp)):
        for j in range(i+1,len(temp)):
            t = temp[i].union(temp[j])
            if(len(t) == count):
                nc.add(temp[i].union(temp[j]))
    nc = list(nc)
    c = Counter()
    for i in nc:
        c[i] = 0
        for q in transactions.values():
            temp = set(q)
            if(i.issubset(temp)):
                c[i]+=1
    print("C"+str(count)+":")
    for i in c:
        print(str(list(i))+": "+str(c[i]))
    print()
    l = Counter()
    for i in c:
        if(c[i] >= s):
            l[i]+=c[i]
    print("L"+str(count)+":")
    for i in l:
        print(str(list(i))+": "+str(l[i]))
    print()
    if(len(l) == 0):
        break
    pl = l
    pos = count
print("Result: ")
print("L"+str(pos)+":")
for i in pl:
    print(str(list(i))+": "+str(pl[i]))
print()

the algo above is not that efficient it takes too long since it calculates the supp for each subset

![image.png]()
so i will use the apriori built in function

In [9]:
#to check if a set is a subset of another set we can juste use issubset() method
#or we can just calculate occurrence of elements in the smaller set in dic then go through the bigger set and check if the eliment i is in the dic then -- its value 
#at the end just check if all the values in the dic are 0 or negative 
def is_inclus(A,B):
  """ check if A is a subset of B
  """
  c = Counter(A)
  for el in B:
    if el in c:
      c[el]-=1
  return sum(c.values())<=0

is_inclus({1,2,3},{1,5,6,82,3})

False

In [10]:
frq_items = apriori(cr_data, min_support = 0.025, use_colnames = True)
frq_items.head(15)

     support                    itemsets
0   0.030147        (100_Watt_Lightbulb)
1   0.109559                 (2pct_Milk)
2   0.037500         (60_Watt_Lightbulb)
3   0.031618         (75_Watt_Lightbulb)
4   0.093382  (98pct_Fat_Free_Hamburger)
5   0.031618         (AA_Cell_Batteries)
6   0.025735    (Apple_Cinnamon_Waffles)
7   0.026471               (Apple_Drink)
8   0.031618          (Apple_Fruit_Roll)
9   0.032353                 (Apple_Jam)
10  0.033088               (Apple_Jelly)
11  0.032353               (Apple_Sauce)
12  0.053676                    (Apples)
13  0.066912                   (Aspirin)
14  0.027941               (Avocado_Dip)

In [11]:
s = frq_items.itemsets
#itemsets that contains Aspirin
print('-'*13,'itemsets  that contains Aspirin','-'*13)
for i in s:
  if 'Aspirin' in i:
    print(list(i))
print('-'*13,'itemsets  that contains Aspirin and egges','-'*13)
#itemsets that contains Aspirin and Eggs
for i in s:
  if ('Aspirin' in i) and ('Eggs' in i):
    print(list(i))

------------- itemsets  that contains Aspirin -------------
['Aspirin']
['2pct_Milk', 'Aspirin']
['Aspirin', '98pct_Fat_Free_Hamburger']
['Cola', 'Aspirin']
['Aspirin', 'Domestic_Beer']
['Eggs', 'Aspirin']
['Aspirin', 'Hot_Dogs']
['Onions', 'Aspirin']
['Aspirin', 'Pepperoni_Pizza_-_Frozen']
['Popcorn_Salt', 'Aspirin']
['Potato_Chips', 'Aspirin']
['Potatoes', 'Aspirin']
['Aspirin', 'Sweet_Relish']
['Toilet_Paper', 'Aspirin']
['Tomatoes', 'Aspirin']
['Toothpaste', 'Aspirin']
['Wheat_Bread', 'Aspirin']
['White_Bread', 'Aspirin']
['Eggs', '2pct_Milk', 'Aspirin']
['Potato_Chips', '2pct_Milk', 'Aspirin']
['White_Bread', '2pct_Milk', 'Aspirin']
['Eggs', 'Potato_Chips', 'Aspirin']
['Eggs', 'White_Bread', 'Aspirin']
['White_Bread', 'Potato_Chips', 'Aspirin']
['Potatoes', 'White_Bread', 'Aspirin']
['Toothpaste', 'Aspirin', 'White_Bread']
------------- itemsets  that contains Aspirin and egges -------------
['Eggs', 'Aspirin']
['Eggs', '2pct_Milk', 'Aspirin']
['Eggs', 'Potato_Chips', 'Aspirin']
['Eggs', 'White_Bread', 'Aspirin']

In [12]:
rules = association_rules(frq_items, metric ="confidence", min_threshold = 0.75)
rules.head(5)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,"(Aspirin, 2pct_Milk)",(White_Bread),0.034559,0.119118,0.027206,0.787234,6.608878,0.023089,4.140147
1,"(Bananas, White_Bread)",(2pct_Milk),0.032353,0.109559,0.025735,0.795455,7.260525,0.022191,4.353268
2,"(Bananas, 2pct_Milk)",(White_Bread),0.031618,0.119118,0.025735,0.813953,6.833190,0.021969,4.734743
3,"(Cola, Wheat_Bread)",(2pct_Milk),0.032353,0.109559,0.025735,0.795455,7.260525,0.022191,4.353268
4,"(Popcorn_Salt, 2pct_Milk)",(Eggs),0.033088,0.122794,0.027206,0.822222,6.695941,0.023143,4.934283

In [13]:
rules[rules.lift>7]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
1,"(Bananas, White_Bread)",(2pct_Milk),0.032353,0.109559,0.025735,0.795455,7.260525,0.022191,4.353268
3,"(Cola, Wheat_Bread)",(2pct_Milk),0.032353,0.109559,0.025735,0.795455,7.260525,0.022191,4.353268
8,"(Onions, Wheat_Bread)",(2pct_Milk),0.034559,0.109559,0.028676,0.829787,7.573897,0.024890,5.231342
10,"(Potatoes, Wheat_Bread)",(2pct_Milk),0.032353,0.109559,0.025000,0.772727,7.053081,0.021455,3.917941
13,"(Toothpaste, Wheat_Bread)",(2pct_Milk),0.034559,0.109559,0.027941,0.808511,7.379694,0.024155,4.650082
16,"(White_Bread, Hamburger_Buns)",(98pct_Fat_Free_Hamburger),0.034559,0.093382,0.026471,0.765957,8.202379,0.023243,3.873730
17,"(Wheat_Bread, 98pct_Fat_Free_Hamburger)",(White_Bread),0.029412,0.119118,0.026471,0.900000,7.555556,0.022967,8.808824
29,"(Hot_Dog_Buns, Sweet_Relish)",(Hot_Dogs),0.036029,0.092647,0.030147,0.836735,9.031422,0.026809,5.557537
35,"(Toilet_Paper, Potatoes)",(White_Bread),0.028676,0.119118,0.025000,0.871795,7.318772,0.021584,6.870882
37,"(Toilet_Paper, Toothpaste)",(White_Bread),0.029412,0.119118,0.025735,0.875000,7.345679,0.022232,7.047059
41,"(Eggs, White_Bread, Potato_Chips)",(2pct_Milk),0.033824,0.109559,0.026471,0.782609,7.143274,0.022765,4.096029
44,"(Toothpaste, Eggs, White_Bread)",(2pct_Milk),0.032353,0.109559,0.025735,0.795455,7.260525,0.022191,4.353268
46,"(Toothpaste, Potato_Chips, White_Bread)",(2pct_Milk),0.030147,0.109559,0.025000,0.829268,7.569160,0.021697,5.215441
47,"(Toothpaste, 2pct_Milk, White_Bread)",(Potato_Chips),0.033088,0.097794,0.025000,0.755556,7.725982,0.021764,3.690842
48,"(Toothpaste, 2pct_Milk, Potato_Chips)",(White_Bread),0.028676,0.119118,0.025000,0.871795,7.318772,0.021584,6.870882
49,"(White_Bread, 2pct_Milk, Potato_Chips)",(Toothpaste),0.033088,0.079412,0.025000,0.755556,9.514403,0.022372,3.766043

In [14]:
rules[rules.consequents.str.contains('2pct_Milk', na=False)]

Empty DataFrame
Columns: [antecedents, consequents, antecedent support, consequent support, support, confidence, lift, leverage, conviction]
Index: []